%div
  %select#pic_type.form-control.mt-3{:name => "pic_type"}
    %option{:value => "maison"} Maison
    %option{:value => "arbres"} Arbres
    %option{:value => "rivières"} Rivières
%div
  %select#etage.form-control.mt-3{:name => "etage"}
    %option{:value => "salle-haut"} Salle du haut
    / <option value="salle-bas">Salle du bas</option>
%div
  %select#porte.form-control.mt-3{:name => "porte"}
    %option{:value => "porte-1"} Porte 1
    %option{:value => "porte-2"} Porte 2
%div
  %select#etagere.form-control.mt-3{:name => "etagère"}
    %option{:value => "etagere-8"} Etagère 8
    %option{:value => "etagere-7"} Etagère 7
    %option{:value => "etagere-6"} Etagère 6
    %option{:value => "etagere-5"} Etagère 5
    %option{:value => "etagere-4"} Etagère 4
    %option{:value => "etagere-3"} Etagère 3
    %option{:value => "etagere-2"} Etagère 2
    %option{:value => "etagere-1"} Etagère 1
.camera
  %video#video.mt-3 Video stream not available.
  %div
    %button#startbutton.btn.btn-primary.mt-3{:type => "button"} Take photo
%canvas#canvas
/ <div class="output">
/ <img id="photo" alt="The screen capture will appear in this box.">
/ </div>
